
<!--

    <div class="Profile">
    <h1>Name: {{name}}</h1>
    <ul>
        <li>Number: {{formatPhoneNumber phonenumber}}</li>
        <li>Address: {{makeBold address}}</li>
        <li>Email: {{formatEmail email}}</li>
        <li>Occupation: {{upperCaseWord occupation}}</li>
    </ul>
</div>

-->